.card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: auto;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1%;
    padding-bottom: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}
.card:hover{
    transform: translateY(-10px);
}
.cardImg{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
}
.cardtitu{
    color: rgba(39, 43, 51);
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
.cardfecha{
    color: rgba(39, 43, 51);
}
/*----------------------Descripcion---------------------------*/
.carddesc{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255,0.95);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1;
    visibility: hidden;
    
}
.carddesc.visible{
    max-height: 500px;
    visibility: visible;
    
}
/*--------------------Ajuste de pantalla-----------------------*/
@media (max-width : 1200px) {
    .card{
        width: 23rem;    
    }
}
